*, *::before, *::after {
  box-sizing: border-box;
}

$color-gold: #BEA67C;
$color-white: #FFF;
$color-black: #000;
$font-main: 'Source Sans Pro', sans-serif;

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-main;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 100vh, 0;
}

