// Header
.header {
    position: relative;
    background-image: url('../images/background.png');
    background-size: cover;
    height: 100vh;
}

.header_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between; 
    color: $color-white;
}

.brand__title {
    line-height: 1px;
}

.brand__subtitle {
    font-size: 12px;
}

.splash {
    right: 40%;
    font-size: 30px;
    letter-spacing: 10px;
}

.splash i {
    color: $color-gold; 
    text-align: center;
    font-size: 22px;
}

.page-subtitle {
    text-align: center;
    padding-top: 15%;
    top: 300px;
    font-size: 22px;
}


//Product
.product body{
    [class^="product-"] {
        position: relative;
}
}

.card {
    display: block;
}

.product-text product-title {
    padding: 36px 0 36px 55%;
    text-align: left;
}

.product__description {
    display: flex;
}
.product__description p {
    margin: 0px 5px;
}

.product__description:before {
    content: '';
    width: 100px;
    height: 3px;
    background: $color-gold;
    display: inline-block;
}

.product__selection{
    padding: 0;
    display: block;
}

.product__images{
    box-shadow: 0 0 48px 1px rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.page-footer {
    text-align: center;
    font-size: 12px; 
}

.col {
    display: block;
}

#pages > * {
    display: none;
}

#pages > .active {
    display: block;
}

//About us

.about__header {
    background-image: url('../images/about-us.jpg');
    background-size: cover;
}

.about__description {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    padding-right: 65px;
    padding-left: 65px;
}

.about__description p {
    padding: 0;
    overflow: hidden;
}

.about__postscript {
    color: $color-white;
    text-align: right;
}

// Contact us
